@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
    font-family: Roboto, sans-serif;
    margin: 0px;
    height: 100vh;
    background-image: url(imgs/wallPaper.jpg);
    background-size: cover;
    color: azure;
}

.rpsContainer {
    /*border-style: solid;
        border-color: red;*/
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin:auto;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/*.playZone {
    border-color: orange;
    border-style: solid;
}*/

.rockImg {
    background-image: url(imgs/rock.jpg);
    width: 300px;
    height: 350px;
    background-size:cover;
    position: relative;
    border-radius: 15px;
}
.paperImg {
    background-image: url(imgs/paper.jpg);
    width: 300px;
    height: 350px;
    background-size:cover;
    border-radius: 15px;
}
.scissorsImg {
    background-image: url(imgs/scissors.jpg);
    width: 300px;
    height: 350px;
    background-size:cover;
    border-radius: 15px;
}

.resultContainer {
/*border-style: solid;
border-color: red;*/
display: flex;
justify-content: space-around;
margin: 50px 0px 50px 0px;
padding: 30px 0px 30px 0px;
background-color: darkslategrey;
border-radius: 15px;
}

.matchContainer {
    padding: auto;
    /*border-style: solid;
        border-color: green;*/
    background-color: lightslategrey;
    padding: 15px;
    border-radius: 15px;
}

.scoreContainer {
    /*border-style: solid;
        border-color: blue;*/
    padding: auto;
    background-color: lightslategrey;
    padding: 15px;
    border-radius: 15px;
}

.winnerContainer {
    /*border-style: solid;
        border-color: yellow;*/
    padding: auto;
    background-color: lightslategrey;
    padding: 15px;
    border-radius: 15px;
}